<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/default.css') }}" rel="stylesheet">
    </head>
    <body>
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div id="wrapper">
            <div id="container">
                {% block body %}{% endblock %}

                <hr />

                <div>
                    <a href="{{ path('homepage') }}">Upload form</a> |
                    <a href="{{ path('product-count') }}">Products Info</a>
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
