{% extends '::base.html.twig' %}

{% block body %}
    <div id="welcome">
        <h1>LetsBonus challenge</h1>
    </div>

    <div id="next">
        <h2>Select a tab file and submit the form:</h2>

        {{ form_errors(form) }}
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <fieldset>
            <div class="form-group">
                {{ form_label(form.tabfile) }}
                {{ form_errors(form.tabfile) }}
                <div class="col-sm-6">
                    {{ form_widget(form.tabfile) }}
                </div>
            </div>
            {{ form_widget(form) }}
        </fieldset>

        {{ form_end(form) }}
    </div>

{% endblock %}
